<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OSU STATUS</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrap card_wrap">
        <section class="form_section">
            <article>
                <form for="user" action="/user/info" method="get" class="userForm" id="userForm">
                    <input type="hidden" name="mode" id="modes">
                    <input type="text" name="user" id="user" placeholder="User Nickname" autocomplete="off">
                    <button type="submit">Search</button>
                </form>
                
            </article>
        </section>
        <div class="recent_box" id="recent_box" style="width:460px;">
            <span style="margin:0; color:#fff">최근 검색 유저 : </span>
        </div>
        <% if(typeof user_info[0] != 'undefined') { %>
        <main>
            <form>
                <input type="hidden" value="<%= searchMode %>" id="modeCode">
            </form>

            <div class="user_info">
                <div class="rank_wrap">
                    <div>
                        <img src="https://a.ppy.sh/<%= user_info[0].user_id %>" alt="<%= user_info[0].user_name %>'s Avatar" width="200"
                            height="200">
                    </div>

                    <div>
                        <span><strong style="color:#ffd900">SS</strong> : <%= user_info[0].countSS %></span>
                        <span><strong style="color:#999999">SS</strong> : <%= user_info[0].countSSH %></span>
                    </div>
                    <div>
                        <span><strong style="color:#ffd900">S</strong> : <%= user_info[0].countS %></span>
                        <span><strong style="color:#999999">S</strong> : <%= user_info[0].countSH %></span>
                    </div>
                    <div>
                        <span><strong style="color:#048500">A</strong> : <%= user_info[0].countA %></span>
                        <span><strong style="color:#fff;">total</strong> :
                            <%= parseInt(user_info[0].countSS) + parseInt(user_info[0].countSSH) + parseInt(user_info[0].countS) + parseInt(user_info[0].countSH) + parseInt(user_info[0].countA) %></span>
                    </div>
                </div>

                <div class="info_wrap">
                    <span id="nickname"><%= user_info[0].user_name %></span>
                    <span id="playcount">Play Count : <%= user_info[0].user_playCount %></span>
                    <span id="pp">Performance Point : <%= user_info[0].user_performance %>pp</span>

                    <div class="rank_info">
                        <span class="player_rank"><%= user_info[0].user_country %> #<%= user_info[0].user_grank %>
                            <small>(#<%= user_info[0].user_crank %>)</small></span>
                    </div>
                </div>

                <%if(typeof user_best[0] != "undefined"){ %>
                <div class="other_wrap">
                    <% let result = 0; let sum = 0; %>
                    <% for(let i = 0; i < user_best[0].best_score.length; i++){
                        sum = sum + user_best[0].best_score[i].pp;
                    } %>
                    <div class="other_pp">
                        <span class="avr"> Average PP : <span class="pp"><%= Math.round(sum / 20) * 1 %>
                                PP</span></span>
                        <span class="hig"> Highest PP : <span class="pp"><%= user_best[0].best_score[0].pp * 1 %> PP<span></span>
                    </div>
                    <div>
                        <% let topof = parseInt(user_info[0].user_grank) / 15210892 * 100; %>
                        <% if(topof <= 100 && topof > 1) { %>
                        <span><%= topof.toFixed(3) %> % of top</span>
                        <% } else if(topof <= 1 && topof > 0.0001) { %>
                        <span><%= topof.toFixed(4) %> % of top</span>
                        <% } else if(topof <= 0.0001 && topof > 0.00001) { %>
                        <span><%= topof.toFixed(5) %> % of top</span>
                        <% } else if(topof <= 0.00001 && topof > 0.000001) { %>
                        <span><%= topof.toFixed(6) %> % of top</span>
                        <% } else { %>
                        <% } %>
                    </div>

                    <div class="update_section">
                        <form action="/user/info" method="post">
                            <input type="hidden" name="updateName" value="<%= user_info[0].user_name %>">
                            <input type="hidden" name="updateMode" value="<%= searchMode %>">
                            <% let d = new Date(parseInt(user_info[0].update_time));%>
                            <% date_format_str = d.getFullYear().toString()+"-"+((d.getMonth()+1).toString().length==2?(d.getMonth()+1).toString():"0"+(d.getMonth()+1).toString())+"-"+(d.getDate().toString().length==2?d.getDate().toString():"0"+d.getDate().toString())+" "+(d.getHours().toString().length==2?d.getHours().toString():"0"+d.getHours().toString())+":"+((parseInt(d.getMinutes()/5)*5).toString().length==2?(parseInt(d.getMinutes()/5)*5).toString():"0"+(parseInt(d.getMinutes()/5)*5).toString())+":" + ((parseInt(d.getSeconds()/5)*5).toString().length==2?(parseInt(d.getSeconds()/5)*5).toString():"0"+(parseInt(d.getSeconds()/5)*5).toString()) %>;
                            <% if(parseInt(user_info[0].update_time) + 60000 < Date.now()){ %>
                                <button type="submit" id="update_submit">Update</button>
                            <% } else{ %>
                                <span style="margin-top:100px;">최근에 업데이트 되었습니다. 1분 뒤 새로고침 후 버튼을 눌러주세요.</span><br>
                                <small style="color:#fff">최종 업데이트 : <%= date_format_str %></small>
                            <% } %>
                        </form>
                        
                    </div>
                    <% } else { %>
                    <span style="font-size:24px; color:#fff; font-weight: bold;">정보가 없습니다.</span>
                    <% } %>
                </div>
            </div>
            <div class="modeBox">
                <span onclick="changeMode('mstd');" id="mstd" class="modeSelect">Standard</span>
                <span onclick="changeMode('mtai');" id="mtai" class="modeSelect">Taiko</span>
                <span onclick="changeMode('mcat');" id="mcat" class="modeSelect">Catch</span>
                <span onclick="changeMode('mman');" id="mman" class="modeSelect">Mania</span>
            </div>
            <% if(typeof user_best[0] != "undefined"){ %>
            <div class="state">
                <% for(let i = 0; i < user_best[0].song_info.length; i++){ %>
                <div class="song_info" id="song_info<%= i %>" onclick="popup('<%= i %>');"
                    style="background:url('https://assets.ppy.sh/beatmaps/<%= user_best[0].song_info[i].song_set %>/covers/cover.jpg') no-repeat center center; background-size: cover; cursor: pointer;">
                    <div class="overlay"></div>
                    <div class="song_wrap">
                        <div class="rank">
                            <% switch(user_best[0].best_score[i].rank){
                            case 'XH': %>
                            <span style="color:#e2e2e2; -webkit-text-stroke: 2px #fff;"> SS </span>
                            <% break; 
                            case 'X': %>
                            <span style="color:#ffd900; -webkit-text-stroke: 2px #fff;"> SS </span>
                            <% break; 
                            case 'SS': %>
                            <span style="color:#ffd900; -webkit-text-stroke: 1px #fff;">
                                <%= user_best[0].best_score[i].rank %></span>
                            <% break; 
                            case 'SH': %>
                            <span style="color:#e2e2e2; -webkit-text-stroke: 2px #999999;"> S </span>
                            <% break; 
                            case 'S': %>
                            <span style="color:#ffd900"> <%= user_best[0].best_score[i].rank %></span>
                            <% break;
                            case 'A': %>
                            <span style="color:#048500"> <%= user_best[0].best_score[i].rank %></span>
                            <% break;
                            case 'B': %>
                            <span style="color:#2318bb"> <%= user_best[0].best_score[i].rank %></span>
                            <% break;
                            case 'C': %>
                            <span style="color:#800491"> <%= user_best[0].best_score[i].rank %></span>
                            <% break;
                            default:  %>
                            <span style="color:#666"> <%= user_best[0].best_score[i].rank %></span>
                            <% break;
                        }%>
                        </div>

                        <div class="rank_date">
                            <div class="song_diff">
                                <div class="song_diff_box">
                                    <span class="song_title"
                                        id="song_title<%= i %>"><%= user_best[0].song_info[i].song_title %></span>
                                    <span class="diff" id="song_diff<%= i %>">[<%= user_best[0].song_info[i].song_diff %>]</span>
                                    <div style="display:none;">
                                        <span id="song_rating<%= i %>"><%= user_best[0].song_info[i].star_rating %></span>
                                        <span id="song_od<%= i %>"> <%= user_best[0].song_info[i].song_overall %></span>
                                    </div>
                                </div>
                                <div class="date-wrap">
                                    <span class="date"><%= user_best[0].best_score[i].date %></span>
                                </div>
                            </div>

                            <div class="judge">
                                <% switch(searchMode){
                                    case 'standard': %>
                                <%
                                    let smiss = user_best[0].best_score[i].countMiss;
                                    let sc50 = user_best[0].best_score[i].count50;
                                    let sc100 = user_best[0].best_score[i].count100
                                    let sc300 = user_best[0].best_score[i].count300

                                    let stotalHit = smiss + sc50 + sc100 + sc300;
                                    
                                    let sAcc = ((sc50 * 50 + sc100 * 100 + sc300 * 300) / (stotalHit * 300)) * 100;
                                %>
                                <div><small>300</small><span><%= user_best[0].best_score[i].count320 + user_best[0].best_score[i].count300 %></span></div>
                                <div><small>100</small><span><%= user_best[0].best_score[i].count100 + user_best[0].best_score[i].count200 %></span></div>
                                <div><small>50</small><span><%= user_best[0].best_score[i].count50 %></span></div>
                                <div><small>MISS</small><span><%= user_best[0].best_score[i].countMiss %></span></div>
                                <div><small>Accuracy</small><span id="song_acc<%= i %>"><%= sAcc.toFixed(2) %>%</span>
                                </div>
                                <div><small>Score</small><span id="score<%= i %>"><%= user_best[0].best_score[i].comma %></span></div>
                                <div style="display:none;"><small>Total</small><span id="total<%= i %>">
                                        <%= stotalHit %></span></div>
                                <% break; 
                                    case 'taiko': %>
                                <%
                                    let tmiss = user_best[0].best_score[i].countMiss;
                                    let tc50 = user_best[0].best_score[i].count320;
                                    let tc100 = user_best[0].best_score[i].count100;
                                    let tc300 = user_best[0].best_score[i].count300;
                                    
                                    let ttotalHit = tc50 + tc100 + tc300 + tmiss;

                                    let tAcc = ((tc100 * 150 + tc300 * 300) / (ttotalHit * 300)) * 100;
                                %>
                                <div><small>GREAT</small><span><%= user_best[0].best_score[i].count300 %></span></div>
                                <div><small>GOOD</small><span><%= user_best[0].best_score[i].count100 %></span></div>
                                <div><small>MISS</small><span><%= user_best[0].best_score[i].countMiss %></span></div>
                                <div><small>Accuracy</small><span id="song_acc<%= i %>"><%= tAcc.toFixed(2) %>%</span>
                                </div>
                                <div><small>Score</small><span id="score<%= i %>"><%= user_best[0].best_score[i].comma %></span></div>
                                <div style="display:none;"><small>Total</small><span id="total<%= i %>">
                                        <%= ttotalHit %></span></div>
                                <% break;
                                    case 'catch': %>
                                <%
                                    let cmiss = user_best[0].best_score[i].countMiss;
                                    let cc50 = user_best[0].best_score[i].count50;
                                    let cc100 = user_best[0].best_score[i].count100;
                                    let cc300 = user_best[0].best_score[i].count300;
                                    let ckatu = user_best[0].best_score[i].count200;
                                    
                                    let ctotalHit = cc50 + cc100 + cc300 + ckatu + cmiss;
                                    let csuccessHit = cc50 + cc100 + cc300;

                                    let cAcc = (csuccessHit / ctotalHit) * 100;
                                %>
                                <div><small>FRUITS</small><span><%= user_best[0].best_score[i].count300 %></span></div>
                                <div><small>TICKS</small><span><%= user_best[0].best_score[i].count100 %></span></div>
                                <div><small>DRP MISS</small><span><%= user_best[0].best_score[i].count200 %></span></div>
                                <div><small>MISS</small><span><%= user_best[0].best_score[i].countMiss %></span></div>
                                <div><small>Accuracy</small><span id="song_acc<%= i %>"><%= cAcc.toFixed(2) %>%</span>
                                </div>
                                <div><small>Score</small><span id="score<%= i %>"><%= user_best[0].best_score[i].comma %></span></div>
                                <div style="display:none;"><small>Total</small><span id="total<%= i %>">
                                        <%= ctotalHit %></span></div>
                                <% break;
                                    case 'mania': %>
                                <% 
                                        <!-- 매니아 정확도 계산 -->
                                        let mmiss = user_best[0].best_score[i].countMiss;
                                        let mc50 = user_best[0].best_score[i].count50;
                                        let mc100 = user_best[0].best_score[i].count100;
                                        let mc200 = user_best[0].best_score[i].count200
                                        let mc300 = user_best[0].best_score[i].count320 + user_best[0].best_score[i].count300;
                                        let mtotalHit = mmiss + mc50 + mc100 + mc200 + mc300;

                                        let mAcc = ((mc50 * 50 + mc100 * 100 + mc200 * 200 + mc300 * 300) / (mtotalHit * 300)) * 100;
                                    %>
                                <div><small>MAX</small><span><%= user_best[0].best_score[i].count320 %></span></div>
                                <div><small>300</small><span><%= user_best[0].best_score[i].count300 %></span></div>
                                <div><small>200</small><span><%= user_best[0].best_score[i].count200 %></span></div>
                                <div><small>100</small><span><%= user_best[0].best_score[i].count100 %></span></div>
                                <div><small>50</small><span><%= user_best[0].best_score[i].count50 %></span></div>
                                <div><small>MISS</small><span><%= user_best[0].best_score[i].countMiss %></span></div>
                                <div><small>Accuracy</small><span id="song_acc<%= i %>"><%= mAcc.toFixed(2) %>%</span>
                                </div>
                                <div><small>Score</small><span id="score<%= i %>"><%= user_best[0].best_score[i].comma %></span></div>
                                <div style="display:none;"><small>Total</small><span id="total<%= i %>">
                                        <%= mtotalHit %></span></div>
                                <% break;
                                }%>
                            </div>
                            <div class="score_pp">
                                <span class="pp"><%= user_best[0].best_score[i].pp %>pp</span>
                                <span class="modsz" id="emods<%= i %>"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

                <% } else { %>
                <p style="font-size:34px; color:#fff; font-weight: bold;">정보가 없습니다.</p>
                <% } %>
        </main>
        <% } %>
        <span class="footer">made by : <a href="https://osu.ppy.sh/users/10001325" class="link"
                target="_blank">JhleeDreamTree ([HyeN])</a> / twitter : <a href="https://twitter.com/onlysugai"
                class="link" target="_blank">@onlysugai</a></span>

    </div>
    <script src="/js/app.js"></script>
    <script src="/js/calcPP.js"></script>

    <div class="popup hidden" id="calcPopup">
        <div class="windowzz">
            <span id="calc_title"></span>
            <span id="calc_diff"></span>
            <span id="calc_mods"></span><br>
            <span id="calc_ratings"></span>
            <div onclick="closePopup();" class="closeBtn">X</div>
            <div class="inputWrap" style="margin-bottom:20px; margin-top:20px;">
                <form onsubmit="return false;">
                    <input type="text" name="score" id="inputScore" onkeyup="abc(this.value)" placeholder="점수 입력">
                </form>
            </div>
            <button onclick="calcPP();">계산하기</button>
            <div>
                <span id="calculatedPP"></span>
            </div>
        </div>
    </div>
    <form style="display:none;" onsubmit="return false;">
        <input type="hidden" id="calc_od">
        <input type="hidden" id="calc_rating">
        <input type="hidden" id="calc_mods">
        <input type="hidden" id="calc_acc">
        <input type="hidden" id="calc_total">
    </form>
</body>

</html>